<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nueva Medición</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div class="container" style="height: 100vh;">
            <div class="row" style="height: 100%;">
                <div
                    class="col-2"
                    style="height: 100%; background-color: #cccccc;"
                >
                    <div class="row align-items-center" style="height: 100%;">
                        <ul
                            class="nav flex-column"
                            style="background-color: #cccccc;"
                        >
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <img
                                        src="img.jpg"
                                        class="rounded-circle"
                                        alt="Mis recicladores"
                                        style="
                                            max-height: 100%;
                                            max-width: 100%;
                                        "
                                    />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img
                                        src="img.jpg"
                                        class="rounded-circle"
                                        alt="Mi comunidad"
                                        style="max-height: 90%; max-width: 90%;"
                                    />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img
                                        src="img.jpg"
                                        class="rounded-circle"
                                        alt="Social"
                                        style="max-height: 90%; max-width: 90%;"
                                    />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img
                                        src="img.jpg"
                                        class="rounded-circle"
                                        alt="Indicadores ambientales"
                                        style="max-height: 90%; max-width: 90%;"
                                    />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img
                                        src="img.jpg"
                                        class="rounded-circle"
                                        alt="Opciones"
                                        style="max-height: 90%; max-width: 90%;"
                                    />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class="col-10"
                    style="background-color: #f2f2f2; height: 100%;"
                >
                    <button style="background-color: #009900;">
                        Nueva Medición
                    </button>
                    <button style="background-color: #009900;">
                        Historial
                    </button>
                    <br />
                    <h1 style="color: #009933; display: inline-block;">
                        Materiales Aprovechados
                    </h1>

                    <form action="" method="post">
                        <label for="fechacorte">Fecha de Corte</label><br />
                        <input
                            type="date"
                            id="fechacorte"
                            name="fechacorte"
                            value="1 Enero 2020"
                        /><br />
                        <label for="vidrio">KG Vidrio</label><br />
                        <input
                            type="number"
                            id="vidrio"
                            name="vidrio"
                            value="0"
                        /><br />
                        <label for="latas">KG Latas</label><br />
                        <input
                            type="number"
                            id="latas"
                            name="latas"
                            value="0"
                        /><br />
                        <label for="plastico">KG Plástico</label><br />
                        <input
                            type="number"
                            id="plastico"
                            name="plastico"
                            value="0"
                        /><br />
                        <label for="organico">KG Orgánicos</label><br />
                        <input
                            type="number"
                            id="organico"
                            name="organico"
                            value="0"
                        /><br />
                        <label for="papel">KG Papel</label><br />
                        <input
                            type="number"
                            id="papel"
                            name="papel"
                            value="0"
                        /><br />
                        <label for="carton">KG Cartón</label><br />
                        <input
                            type="number"
                            id="carton"
                            name="carton"
                            value="0"
                        /><br />
                        <br />
                        <input type="submit" value="Continuar" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
